<h2>Signup Page</h2>
<form>
    <div class="form-group mb-4">
        <label class="mb-2" for="username">Username</label>
        <input class="form-control" id="username" placeholder="Enter username" [(ngModel)]="username" name="username">
    </div>
    <div class="form-group mb-4">
        <label class="mb-2" for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" [(ngModel)]="password" name="password">
    </div>
    <div class="form-group mb-4">
        <label class="mb-2" for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" [(ngModel)]="email" name="email">
    </div>
    <div class="form-group mb-4">
        <label class="mb-2" for="birthdate">Birthdate</label>
        <input type="date" class="form-control" id="birthdate" aria-describedby="birthDate" placeholder="" [(ngModel)]="userbirthdate" name="birthdate">
    </div>
    <div class="form-group mb-4">
        <label class="mb-2" for="age">Age</label>
        <input type="number" class="form-control" id="age" aria-describedby="age" placeholder="Enter Age" [(ngModel)]="userage" name="age">
    </div>
    <button class="btn btn-primary" value="Signup" id="signup" (click)="signUpFunc()" type="submit">Signup</button>
    <div *ngIf="signupFail">
        <div class="alert alert-danger mt-3" role="alert">Sorry, that username has been taken.</div>
    </div>
</form>